.sticky-header {
  position: sticky;
  top: 0;
  z-index: 2000;
}

.item-edit-disabled {
  position: relative;
  color: var(--black) !important;
  border-color: var(--blue) !important;
}

.item-edit-disabled::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: var(--white);
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.rct-dateHeader-primary > span {
  position: sticky;
  left: 0;
  padding: 0 0.5rem;
}
